body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    width: 350px;
    height: 520px; /* Altura fija para que no cambie el tama침o */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

h1 { color: #ff4d6d; margin: 0; }
#mensaje-container { height: 60px; display: flex; align-items: center; justify-content: center; }
#mensaje { color: #555; font-weight: bold; font-style: italic; }

button {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover { transform: scale(1.03); }

.purple { background: #845ec2; }
.blue   { background: #00c9a7; }
.orange { background: #ff9671; }
.grey   { background: #6c757d; }

.rendirse-area { height: 60px; display: flex; justify-content: center; align-items: center; }
#btnRendirse { width: 140px; font-size: 14px; }
/* El bot칩n secreto */
.invisible-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: default; /* Para que no cambie el cursor y no sospechen */
    z-index: 10;
}

/* Fondo del Modal (oscurece la pantalla) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* La imagen en grande */
.modal-contenido {
    max-width: 80%;
    max-height: 70%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

/* Bot칩n de cerrar (la X) */
.cerrar {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Bot칩n de cerrar inferior */
.btn-cerrar-inferior {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4b2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}